# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
Unity-SL-E06-TimerGame/[Ll]ibrary/
Unity-SL-E06-TimerGame/[Tt]emp/
Unity-SL-E06-TimerGame/[Oo]bj/
Unity-SL-E06-TimerGame/[Bb]uild/
Unity-SL-E06-TimerGame/[Bb]uilds/
Unity-SL-E06-TimerGame/[Ll]ogs/
Unity-SL-E06-TimerGame/[Uu]ser[Ss]ettings/

Unity-SL-E08-Movement/[Ll]ibrary/
Unity-SL-E08-Movement/[Tt]emp/
Unity-SL-E08-Movement/[Oo]bj/
Unity-SL-E08-Movement/[Bb]uild/
Unity-SL-E08-Movement/[Bb]uilds/
Unity-SL-E08-Movement/[Ll]ogs/
Unity-SL-E08-Movement/[Uu]ser[Ss]ettings/

Unity-SL-E09-Transforms/[Ll]ibrary/
Unity-SL-E09-Transforms/[Tt]emp/
Unity-SL-E09-Transforms/[Oo]bj/
Unity-SL-E09-Transforms/[Bb]uild/
Unity-SL-E09-Transforms/[Bb]uilds/
Unity-SL-E09-Transforms/[Ll]ogs/
Unity-SL-E09-Transforms/[Uu]ser[Ss]ettings/

Unity-SL-E10-Collision-Detection/[Ll]ibrary/
Unity-SL-E10-Collision-Detection/[Tt]emp/
Unity-SL-E10-Collision-Detection/[Oo]bj/
Unity-SL-E10-Collision-Detection/[Bb]uild/
Unity-SL-E10-Collision-Detection/[Bb]uilds/
Unity-SL-E10-Collision-Detection/[Ll]ogs/
Unity-SL-E10-Collision-Detection/[Uu]ser[Ss]ettings/

Unity-SL-E11-Prefabs-and-Instantiation/[Ll]ibrary/
Unity-SL-E11-Prefabs-and-Instantiation/[Tt]emp/
Unity-SL-E11-Prefabs-and-Instantiation/[Oo]bj/
Unity-SL-E11-Prefabs-and-Instantiation/[Bb]uild/
Unity-SL-E11-Prefabs-and-Instantiation/[Bb]uilds/
Unity-SL-E11-Prefabs-and-Instantiation/[Ll]ogs/
Unity-SL-E11-Prefabs-and-Instantiation/[Uu]ser[Ss]ettings/

Unity-SL-E12-16-FallingBlocksGame/[Ll]ibrary/
Unity-SL-E12-16-FallingBlocksGame/[Tt]emp/
Unity-SL-E12-16-FallingBlocksGame/[Oo]bj/
Unity-SL-E12-16-FallingBlocksGame/[Bb]uild/
Unity-SL-E12-16-FallingBlocksGame/[Bb]uilds/
Unity-SL-E12-16-FallingBlocksGame/[Ll]ogs/
Unity-SL-E12-16-FallingBlocksGame/[Uu]ser[Ss]ettings/


# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
